body {
  margin: 0;
  background-color: black;
}

canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#v {
  position: absolute;
}

#menu{
	position: absolute;
	margin-top: 25%;
    margin-left: 80px;
    width: 
}

#logo{
  width: 50%;
}

#submenu{
  position: absolute;
  width: auto;
  margin-top: 50px;
  margin-left: 5%
}

#btn{
  width: 40%;
}