body {
  margin: 0;
  background-color: black;
}

canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#v {
  position: absolute;

}

#menu{
	position: absolute;
	color: white;
	font-size: large;
	text-align: center;
	margin-top: 40%;
	margin-left: 45%;
	width: auto;
	border: 3px solid green;
}