body {
  margin: 0;
  background-color: black;
}

canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#v {
  position: absolute;
}

#menu{
	position: absolute;
	margin-top: 25%;
  margin-left: 10%;
}

#logo{
  width: 50%;
}

#submenu{
  position: absolute;
  width: auto;
  margin-top: 2%;
  margin-left: 5%
}

#btn{
  width: 40%;
	opacity: 1;
}

#resultContainer{
  position: absolute;
  top: 100;
  left: 500;
  font-family: Futura;
  color: white;
}

.streak{
  position: absolute;
  width: 250px;
  font-size: 18px;
  font-family: 'Futura';
  color: rgb(197, 197, 197);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.score{
  position: absolute;
  font-family: 'Futura';
  font-size: 36px;
  text-align: center;
  width: 100px;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span {
  font-size: 48px;
}